<form #signupForm="ngForm" (ngSubmit)="signupForm.form.valid && onSubmitSignup(signupForm)" class="php-email-form">
    <div class="row">
      <div class="col-12 px-0">
          <div class="logo text-center my-2">
            <img src="assets/img/logo.png" class="img-fluid" alt="" width="200px">
          </div>
          <div class="text-center">
            <h3 class="text-primary mt-4 mb-4">Signup </h3>
          </div>
          <div class="col-md-12 form-group">
            <label for="name">Name</label>
            <input type="text" id="name" class="form-control form-control-pill" name="name" placeholder="yours name" #lblUserName="ngModel" required ngModel />
            <div *ngIf="lblUserName.errors?.required && (lblUserName.touched || signupForm.submitted)" style="color: red;">Name field should not be blank.</div>
          </div>
          <div class="col-md-12 form-group">
            <label for="email">Email</label>
            <input type="email" id="email" class="form-control" name="email" placeholder="yours@example.com" #lblUserEmail="ngModel" email required ngModel />
            <div *ngIf="lblUserEmail.invalid && (lblUserEmail.touched || signupForm.submitted)" style="color: red;">Please enter valid Email Address</div>
          </div>
          <div class="col-md-12 form-group">
            <label for="password">Password</label>
            <input type="password" id="password" class="form-control" name="password" placeholder="your password" #lblUserPassword="ngModel" required minlength="6" ngModel />
            <div *ngIf="lblUserPassword.invalid && (lblUserPassword.touched || signupForm.submitted)" style="color: red;">Password should be at least 6 digit.</div>
          </div>
          <div class="col-md-12 form-group">
            <label for="confirmPassword">Confirm password</label>
            <input type="password" id="confirmPassword" class="form-control" name="confirmPassword" placeholder="your confirm password" #lblUserCnfPassword="ngModel" required ngModel />
            <div *ngIf="(lblUserPassword.value != lblUserCnfPassword.value) && (lblUserPassword.touched || signupForm.submitted)" style="color: red;">Confirm Password should match with Password.</div>
          </div>
      </div>
    </div>
    <div class="text-center">
       <button type="submit" class="btn-pill text-uppercase w-100">Signup</button>
    </div>
    <div class="mt-4 text-center">
      <span>
        Already have an Account?
      </span>
      <a routerLink="/auth/login" class="text-info">Sign In</a>
    </div>
  </form>