<section id="featured-services" class="pricing-plans">
    <div class="" data-aos="fade-up">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="pricing-plan">
              <div class="img">
                <img src="assets/img/pro.png" alt="Pro" class="img-fluid d-block mx-auto">
              </div>
              <div class="detail">
                <h1 class="title">
                  Pro
                </h1>
                <h3 class="plan">$17 per month</h3>
                <ul class="list-unstyled">
                  <li>
                    1 user
                  </li>
                  <li>
                    10 social accounts
                  </li>
                  <li>
                    schedule unlimited posts
                  </li>
                  <li>
                    Access messages in one inbox
                  </li>
                  <li class="tick">
                    <img src="assets/img/tick.png" alt="tick" class="img-fluid">
                   <div>Chat + email support</div> 
                  </li>
                </ul>
              </div>
              <button type="button" data-bs-toggle="modal" data-bs-target="#planModal" class="btn btn-warning d-block w-100">
                Upgrade now</button>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="pricing-plan">
              <div class="img">
                <img src="assets/img/premium.png" alt="Pro" class="img-fluid d-block mx-auto">
              </div>
              <div class="detail">
                <h1 class="title">
                  Premium
                </h1>
                <h3 class="plan">$30 per month</h3>
                <ul class="list-unstyled">
                  <li>
                    3 users
                  </li>
                  <li>
                    20 social accounts
                  </li>
                  <li>
                    Schedule unlimited posts
                  </li>
                  <li>
                    Access messages in one inbox
                  </li>
                  <li class="tick">
                    <img src="assets/img/tick.png" alt="tick" class="img-fluid">
                    <div>Priority 2 Support</div>
                  </li>
                </ul>
              </div>
              <button type="button" data-bs-toggle="modal" data-bs-target="#planModal" class="btn btn-warning d-block w-100">
                Upgrade now</button>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="pricing-plan">
              <div class="img">
                <img src="assets/img/enterprice.png" alt="Pro" class="img-fluid d-block mx-auto">
              </div>
              <div class="detail">
                <h1 class="title">
                  Enterprise
                </h1>
                <h3 class="plan">$50 per month</h3>
                <ul class="list-unstyled">
                  <li>
                    5+ users
                  </li>
                  <li>
                    35 social accounts
                  </li>
                  <li>
                    schedule unlimited posts
                  </li>
                  <li>
                    Access messages in one inbox
                  </li>
                  <li class="tick">
                    <img src="assets/img/tick.png" alt="tick" class="img-fluid">
                  <div>VIP support</div>  
                    <img src="assets/img/tick.png" alt="tick" class="img-fluid">
                    <div>Dedicated success manager</div>  
                    <img src="assets/img/tick.png" alt="tick" class="img-fluid">
                    <div> Unlimited training</div>  
                  </li>
                </ul>
              </div>
              <button type="button" data-bs-toggle="modal" data-bs-target="#planModal" class="btn btn-warning d-block w-100">
                Upgrade now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>